.select_address{
    display: inline-block;
    border-bottom: 2px solid lightgray;
    width: 100%;
    height: 270px;
    margin-bottom: 20px;
}
.select_address>p{
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}
.select_address>ul{
    list-style:none;
}
.receiver_name{
    border-bottom: 1px solid lightgray;
}
.address_block{
    display: inline-block;
    border: 2px ridge lightseagreen;
    width:200px;
    height:180px;
}
.address_block div{
    padding: 10px;
}

.address_block .default_address{
    position: absolute;
    left:190px;
    width:60px;
    font-size: 13px;
    font-style: italic;
    background-color: lightgray;
}
.address_block .edit{
    margin:0px 0px 10px 10px;
    background-color: white;
    color: blue;
    border: none;
}
.address_block .edit:hover{
    background-color: #2da6f6;
    color: white;
    cursor: pointer;
}
.select_address a{
    vertical-align: center;
    text-decoration: none;
    color: orange;
}

a:hover{
    color:blue;
    text-decoration: none;
}
table{/*商品信息展示表格*/
    margin:auto ;
    width:95%;
    border-collapse: collapse;
    text-align: center;
}
thead{
    background-color: lightgray;
    border:1px solid deepskyblue;
}
thead>tr{
    height:40px;
}
td{
    border:1px solid darkgray;
    height:50px;
}
.label_block{
    border-bottom: 2px solid lightseagreen;
    padding-left: 10px;
}
.label{
    font-weight: bold;
    font-size: 18px;
}
.submit{
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 0px;
    margin-top: 40px;
    text-align: right;
    background-color: lightgray;
}
.submit span{
    display: inline-block;
}
#price{
    color: orange;
    font-family: Georgia;
    font-size: 30px;
}
#submit{
    background-color: orange;
    color: white;
    padding: 14px;
}
#submit:hover{
    font-weight: bold;
    cursor: pointer;
}
